/* CSS for left navigation bar */

.ltx_page_navbar {
    display:block!important; position:fixed; left:0px; top:0px; width:450px;
    margin:0em; padding:1em; 
    border: 3px double; 
    font-size: 75%}
.ltx_page_navbar ul {
    margin-left:-2em; }
.ltx_page_main {
    position:absolute; left:500px; top:0px; right:2px; 
    margin:0px; padding:1em 3em 1em 2em;
    width:60%; }
